# App
PORT=3000
IMAGE_DOMAIN_NAME=

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET_NAME=

# Database (PostgreSQL)
DATABASE_HOST=
DATABASE_PORT=5432
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=24h

# Redis
REDIS_HOST=
REDIS_PORT=6379
REDIS_DB=1

# Google Sheet (service account)
GOOGLE_SHEET_SERVICE_EMAIL=
GOOGLE_SHEET_SERVICE_PRIMARY=

# Serper (search API)
SERPER_URL=
SERPER_API_KEY=

# reCAPTCHA
RECAPTCHA_SECRET_KEY=

# Google App Password (for sending mail)
GOOGLE_APP_PASS=

# OpenAI
OPENAI_API_KEY=

# OpenSearch
OPENSEARCH_HOST=
OPENSEARCH_NAME=
OPENSEARCH_PASS=
